@import '../../../styles/utility.scss';
// link with icon
// creates a link with an icon
// --------------------------------------------------------
.link-with-icon-container {
  a {
    display: flex;
  }
  .link-with-icon-icon {
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;

    svg {
      fill: $brand-grey;
    }
  }
}
