@import "../styles/mixins.scss";

.block-clear {
  margin-block: 0;
}

@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

.mechanic-carousel,
.accessories-carousel {
  &__item {
    width: 94%;
    margin-bottom: 20px;
    min-height: 480px;
    @include box-shadow;
    position: relative;

    &-content {
      margin: 15px;
    }

    &--semibold {
      @extend %carousel-semibold-style;
    }

    &--bold {
      @extend %carousel-bold-style;
    }

    &--light-grey-1 {
      @extend %font-color-light-grey-1;
    }

    &--light-grey-2 {
      @extend %font-color-light-grey-2;
      margin-left: 15px;
    }

    &--brand-primary-dark {
      @extend %brand-primary-dark;
    }

    &-image {
      width: 100%;
      height: 200px;
      max-height: 200px;
    }

    &-heading {
      font-family: PoppinsSemiBold;
      font-size: 16px;
    }

    // address
    $self: &;
    &-address {
      display: flex;

      #{$self}-address-marker {
        display: flex;
        @include margin(0, 10px, 0, 0);
      }
    }

    &-reviews {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 95px;

      .star-ratings {
        @include margin(0, 10px, 0, 0);
      }
    }

    &-last-child {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 90%;
      justify-content: space-between;
      left: 15px;
      .mechanic-carousel__item-button,
      .accessories-carousel__item-button {
        @include button-style(#ff8400, #ffa748);
        letter-spacing: 2px;
        margin-top: 15px;
      }

      .mechanic-carousel__item-starts-from,
      .mechanic-carousel__item-distance {
        @include margin(20px, 0, 0, 0);
      }
    }
  }
}

.accessories-carousel {
  &__item {
    width: 304px;
    height: auto;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
}

.service-carousel {
  &__item {
    width: 304px;
    height: 331px;
    display: inline-block;
    @include box-shadow;

    &-content {
      margin: 30px;
    }

    &-image {
      width: 304px;
      height: 180px;
    }

    &-heading {
      font-family: PoppinsBold;
      font-size: 20px;
      color: #3a404f;
    }

    &-pricing {
      font-family: LatoRegular;
      font-size: 16px;
      color: #7a7c80;
    }

    &-button {
      font-family: LatoBold;
      font-size: 16px;
      color: #f98306;
      text-transform: uppercase;
      background: #fff;
      border: 0;
      text-decoration: underline;
      padding: 0;
    }
  }
}

.items-accessories-container {
  margin-top: 60px !important;
  position: relative;
  .title {
    @extend %title;
  }
}
.item-subheader {
  line-height: 30px;
  font-family: LatoRegular;
  img {
    vertical-align: middle;
    margin-right: 10px;
  }
}

.carousel-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .mechanic-carousel__item-last-child,
  .accessories-carousel__item-last-child {
    display: inherit !important;
  }
  .mechanic-carousel,
  .accessories-carousel {
    &__item {
      min-height: 500px;
      &-reviews {
        position: relative;
        bottom: inherit;
      }
      &-last-child {
        position: relative;
        padding-top: 15px;
      }
      .mechanic-carousel__item-starts-from,
      .mechanic-carousel__item-distance {
        display: inline-block;
        width: 50%;
      }
    }
  }
  .items-accessories-container {
    margin-top: 30px !important;
    .title {
      font-size: 18px;
    }
    .item-subheader {
      font-size: 12px;
      line-height: 20px;
    }
  }
  .block-clear {
    margin-top: 10px;
  }
}
