@import "../styles/mixins.scss";

.block-clear {
  margin-block: 0;
}

@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

.mechanic-carousel,
.accessories-carousel {
  &__item {
    width: 416px;
    min-height: 300px;
    margin-bottom: 20px;
    @include box-shadow;

    &-content {
      margin: 30px;
    }

    &--semibold {
      @extend %carousel-semibold-style;
    }

    &--bold {
      @extend %carousel-bold-style;
    }

    &--light-grey-1 {
      @extend %font-color-light-grey-1;
    }

    &--light-grey-2 {
      @extend %font-color-light-grey-2;
      margin-left: 15px;
    }

    &--brand-primary-dark {
      @extend %brand-primary-dark;
    }

    &-image {
      width: 100%;
      height: 200px;
      max-height: 200px;
    }

    &-heading {
      font-family: PoppinsSemiBold;
      font-size: 16px;
    }

    // address
    $self: &;
    &-address {
      display: flex;

      #{$self}-address-marker {
        display: flex;
        @include margin(0, 10px, 0, 0);
      }
    }

    &-reviews {
      display: flex;
      align-items: center;

      .star-ratings {
        @include margin(0, 10px, 0, 0);
      }
    }

    &-last-child {
      display: grid;
      grid-auto-flow: column;

      .mechanic-carousel__item-button,
      .accessories-carousel__item-button {
        @include button-style(#ff8400, #ffa748);
        letter-spacing: 2px;
        align-self: center;
        margin-top: 15px;
      }

      .mechanic-carousel__item-starts-from,
      .mechanic-carousel__item-distance {
        @include margin(20px, 0, 0, 0);
      }

      .accessories-carousel__item-starts-from {
        align-self: center;
      }
    }
  }
}

.accessories-carousel {
  &__item {
    width: 304px;
    height: auto;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
}

.service-carousel {
  &__item {
    width: 304px;
    height: 331px;
    display: inline-block;
    @include box-shadow;

    &-content {
      margin: 30px;
    }

    &-image {
      width: 304px;
      height: 180px;
    }

    &-heading {
      font-family: PoppinsBold;
      font-size: 20px;
      color: #3a404f;
    }

    &-pricing {
      font-family: LatoRegular;
      font-size: 16px;
      color: #7a7c80;
    }

    &-button {
      font-family: LatoBold;
      font-size: 16px;
      color: #f98306;
      text-transform: uppercase;
      background: #fff;
      border: 0;
      text-decoration: underline;
      padding: 0;
    }
  }
}

.items-accessories-container {
  padding: 40px;
  .title {
    @extend %title;
  }
}
