@import '../styles/mixins.scss';

%carousel-semibold-style {
  font-family: LatoRegular;
  font-size: 14px;
}

%carousel-bold-style {
  font-family: LatoBold;
  font-size: 20px;
}

@mixin box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mechanic-carousel {
  &__item {
    width: 416px;
    height: 430px;
    max-height: 430px;
    @include box-shadow;

    &-content {
      margin: 30px;
    }

    &--semibold {
      @extend %carousel-semibold-style;
    }

    &--bold {
      @extend %carousel-bold-style;
    }

    &-image {
      width: 100%;
      height: 200px;
      max-height: 200px;
    }

    &-heading {
      font-family: PoppinsSemiBold;
      font-size: 16px;
    }

    // address
    $self: &;
    &-address {
      display: flex;

      #{$self}-address-marker {
        display: flex;
        margin-right: 10px;
      }
    }

    &-reviews {
      display: flex;
      align-items: center;

      .star-ratings {
        margin-right: 10px;
      }
    }

    &-last-child {
      display: grid;
      grid-auto-flow: column;

      #{$self}-button {
        background-color: #f98306;
        width: 153px;
        height: 56px;
        font-family: LatoBold;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 8px;
        border-color: #f98306;
        border: 0;
        color: #fff;
        letter-spacing: 2px;
        align-self: center;
        margin-top: 15px;
      }
    }
  }
}
