@import "../styles/mixins.scss";
@import "../../../styles/components/accordion.scss";
.contact-container {
  width: 100%;
  padding: 30px;
  background: #f4f6f9;
}
.title {
  @extend %title;
}
.footer-header {
  font-family: PoppinsBold;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer-list-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    font-family: LatoRegular;
    font-size: 16px;
    line-height: 36px;
    a {
      text-decoration: none;
      color: #3a404f;
    }
  }
}

.footer-list-location {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 30%;
    cursor: pointer;
  }
}

.link {
  color: #f98306;
}
.offset-margin-top {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .footer-list-location {
    li {
      width: 50%;
      cursor: pointer;
    }
  }
  .contact-container {
    padding: 10px;
  }
  .footer-header {
    font-size: 14px;
  }
  .footer-list-container {
    li {
      font-size: 12px;
      line-height: 26px;
    }
  }
}
