@import "../styles/mixins.scss";
.car-container {
  padding: 25px;
  .car-container-inner {
    margin-top: 20px;
  }
}
.title {
  @extend %title;
}
.serices-container {
  background: #f4f6f9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 0 5px 10px;
  padding: 40px 20px;
}
.services-primary-text {
  margin-top: 40px;
  color: #3a404f;
  font-size: 16px;
  font-family: PoppinsSemiBold;
}
