@import "../styles/mixins.scss";
.our-team-container {
  margin-top: 60px;
  background: #cd6a03;
  width: 100%;
  padding: 60px 0;
  color: #fff;
}
.team-header {
  font-family: PoppinsBold;
  font-size: 36px;
  color: #fff;
  padding: 0 80px 0 40px;
}
.contacts-container {
  margin-top: 70px;
  padding: 5px;
  img {
    vertical-align: middle;
    margin-right: 10px;
  }
  span {
    margin-right: 20px;
    font-family: LatoRegular;
    font-size: 16px;
  }
}
.contact-right-section {
  border-left: 1px dotted #fff;
}
.book-now {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .our-team-container {
    padding: 0 5px;
    margin-top: 0;
  }
  .contact-right-section {
    border: none !important;
  }
  .team-header {
    font-size: 18px;
    padding: 0 5px;
  }
  .contacts-container {
    padding: 0 0 20px 0;
    margin-top: 0;
  }
  .contacts-container span {
    margin-right: 10px;
  }
  .book-now {
    margin: 15px 0;
  }
}
@media screen and (max-width: 450px) {
  .contacts-container div span {
    display: block;
    padding: 10px 0;
  }
}
