@font-face {
  font-family: AvenirLight;
  src: url('./fonts/Avenir_LT_35_Light.ttf');
}

@font-face {
  font-family: PlayFairDisplayBold;
  src: url('./fonts/PlayfairDisplay-Bold.ttf');
}

// Lato
@font-face {
  font-family: LatoBold;
  src: url('./fonts/Lato/Lato-Bold.ttf');
}
@font-face {
  font-family: LatoBoldItalic;
  src: url('./fonts/Lato/Lato-BoldItalic.ttf');
}
@font-face {
  font-family: LatoBlack;
  src: url('./fonts/Lato/Lato-Black.ttf');
}
@font-face {
  font-family: LatoBlackItalic;
  src: url('./fonts/Lato/Lato-BlackItalic.ttf');
}
@font-face {
  font-family: LatoItalic;
  src: url('./fonts/Lato/Lato-Italic.ttf');
}
@font-face {
  font-family: LatoLight;
  src: url('./fonts/Lato/Lato-Light.ttf');
}
@font-face {
  font-family: LatoLightItalic;
  src: url('./fonts/Lato/Lato-LightItalic.ttf');
}
@font-face {
  font-family: LatoRegular;
  src: url('./fonts/Lato/Lato-Regular.ttf');
}
@font-face {
  font-family: LatoThin;
  src: url('./fonts/Lato/Lato-Thin.ttf');
}
@font-face {
  font-family: LatoThinItalic;
  src: url('./fonts/Lato/Lato-ThinItalic.ttf');
}

// Poppins
@font-face {
  font-family: PoppinsBold;
  src: url('./fonts/Poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: PoppinsBoldItalic;
  src: url('./fonts/Poppins/Poppins-BoldItalic.ttf');
}
@font-face {
  font-family: PoppinsExtraBoldItalic;
  src: url('./fonts/Poppins/Poppins-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: PoppinsExtraBold;
  src: url('./fonts/Poppins/Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: PoppinsBlack;
  src: url('./fonts/Poppins/Poppins-Black.ttf');
}
@font-face {
  font-family: PoppinsBlackItalic;
  src: url('./fonts/Poppins/Poppins-BlackItalic.ttf');
}
@font-face {
  font-family: PoppinsItalic;
  src: url('./fonts/Poppins/Poppins-Italic.ttf');
}
@font-face {
  font-family: PoppinsLight;
  src: url('./fonts/Poppins/Poppins-Light.ttf');
}
@font-face {
  font-family: PoppinsLightItalic;
  src: url('./fonts/Poppins/Poppins-LightItalic.ttf');
}
@font-face {
  font-family: PoppinsExtraLight;
  src: url('./fonts/Poppins/Poppins-ExtraLight.ttf');
}
@font-face {
  font-family: PoppinsExtraLightItalic;
  src: url('./fonts/Poppins/Poppins-ExtraLightItalic.ttf');
}
@font-face {
  font-family: PoppinsRegular;
  src: url('./fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: PoppinsThin;
  src: url('./fonts/Poppins/Poppins-Thin.ttf');
}
@font-face {
  font-family: PoppinsThinItalic;
  src: url('./fonts/Poppins/Poppins-ThinItalic.ttf');
}
@font-face {
  font-family: PoppinsSemiBoldItalic;
  src: url('./fonts/Poppins/Poppins-SemiBoldItalic.ttf');
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url('./fonts/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: PoppinsMedium;
  src: url('./fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: PoppinsMediumItalic;
  src: url('./fonts/Poppins/Poppins-MediumItalic.ttf');
}
