@import "../../../styles/utility.scss";

// align left container and right container using grid
.header-container {
  font-family: LatoBold;
  background-color: #fff !important;
  color: #555 !important;
  padding: 20px 0;
  -webkit-box-shadow: 0 1px 8px 0 #f1f1f1 !important;
  box-shadow: 0 1px 8px 0 #f1f1f1 !important;
  .header-border {
    border-bottom: 1px solid #f4f6f9;
  }
}
.header {
  .logo {
    img {
      width: 248px;
      height: 56px;
    }
  }
  .header-list {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 10px;
    }
    a {
      text-decoration: none;
      color: #555;
    }
  }

  .link-icon-container {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 70px;
    padding-right: 20px;
    .link-with-icon-container {
      margin-left: 20px;
    }
  }

  &-container {
    padding: 10px 0 15px 0;

    a {
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      color: $brand-grey;

      &:hover {
        color: $brand-orange;
      }
    }
  }
  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-left: 50px;
    margin-right: 50px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .logo {
      // center the logo
      background-position: center;
      background-repeat: no-repeat;

      img {
        width: 248px;
        height: 56px;
      }

      &-menu {
        &-item {
          display: grid;
          grid-template-columns: auto auto auto;
        }
      }
    }
    &-right {
      display: grid;
      justify-items: flex-end;
      align-items: center;

      &-menu {
        &-item {
          display: grid;
          grid-auto-columns: 100px;
          grid-auto-flow: column;
        }
      }
    }
  }
}

.header-location-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    margin-right: 10px;
    align-items: center;
  }
  a {
    text-decoration: none;
    span {
      color: #3a404f;
      text-decoration: none;
      font-family: LatoBold;
      font-size: 16px;
    }
  }
}
.header-current-location {
  color: #f98306;
  font-family: LatoBold;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px dotted #f98306;
  cursor: pointer;
}

.display-none {
  display: none;
}

.header-search-container {
  padding: 15px 0;
}

.location-hide {
  display: none !important;
}

.location-reverse {
  display: flex;
  img {
    width: 20px;
    height: 20px;
  }
}
.header-search-items {
  margin-right: 20px;
  align-items: center;
  display: flex;
}
.input-text-container {
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -3px) scale(0.75) !important;
    background: #fff;
  }
  label {
    font-family: LatoRegular;
    font-size: 16px;
    color: #7a7c80;
    line-height: 6px;
    z-index: 10000 !important;
  }
  .MuiAutocomplete-popupIndicator {
    svg {
      font-size: 24px !important;
    }
  }
}

.header-search-border {
  -webkit-box-shadow: 0 1px 8px 0 #f1f1f1;
  box-shadow: 0 1px 8px 0 #f1f1f1;
}
@media screen and (max-width: 768px) {
  .header-location-container {
    justify-content: center;
    div {
      font-size: 12px;
      font-family: LatoRegular;
      align-items: center;
    }
    img {
      margin-left: 5px;
    }
  }
  .header {
    .logo {
      img {
        width: 168px;
        height: 38px;
      }
    }
  }
  .header-current-location {
    font-size: 12px;
  }
  .header-container {
    padding: 0 !important;
  }
  .input-text-container {
    margin-top: 10px !important;
  }
  .location-hide {
    display: flex !important;
  }
  .location-reverse {
    display: none !important;
  }
  .header-search-container {
    padding-top: 0;
  }
}
@media screen and (max-width: 500px) {
  .header-current-location {
    font-size: 10px;
  }
}
