// create accordion styles
@import "../styles/mixins.scss";

.accordion {
  background-color: #f4f6f9;
  margin-bottom: 50px;

  &__main-header {
    @extend %title;
    padding-top: 80px;
    padding-left: 64px;
  }
  &-wrapper {
    display: grid;
    grid-auto-flow: column;
    height: 248px;
  }
  &-headings-container {
    width: 80%;
    padding-left: 64px;
  }
  &__item {
    margin: 10px 0 10px 0;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 8px;

    &-header {
      margin-left: 16px;
    }
    &-title {
      font-family: PoppinsSemiBold;
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      grid-template-columns: 16px 416px;
      grid-gap: 10px;
    }
    &:hover {
      cursor: pointer;
      @include accordion-gradient-color;
    }
    &.selected {
      @include accordion-gradient-color;
    }
  }
  &-content {
    &__content {
      color: #7a7c80;
      height: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: break-spaces;
    }
    &-wrapper {
      display: grid;
      grid-auto-flow: column;
      width: 95%;
      background-color: #ffffff;
    }
    &__container {
      font-family: LatoRegular;
      align-self: flex-start;
      justify-self: flex-start;
      display: grid;
      grid-template-rows: 1fr 1fr;
      font-size: 16px;
      margin: 40px;
    }
    &__link {
      display: flex;
      align-items: center;

      & > a {
        font-family: LatoRegular;
        font-size: 16px;
        color: #f98306;
        text-decoration: underline !important;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__image {
      width: 336px;
      height: 100%;
    }
  }
}

.mobile-accordion-container {
  img {
    width: 100%;
  }
  img.tick-icon {
    width: 16px;
    height: 16px;
  }
  .header-accordion-title {
    font-family: PoppinsSemiBold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-right: 20px;
    }
  }
  .mobile-accordion-content {
    margin-top: 10px;
    img {
      margin-bottom: 20px;
    }
    p {
      color: #7a7c80;
      font-family: LatoRegular;
      line-height: 24px;
    }

    a {
      font-family: LatoRegular;
      font-size: 16px;
      color: #f98306;
      text-decoration: underline !important;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
