@import "../styles/mixins.scss";

.hero-section-right {
  border-radius: 8px;
  background: url("../../../images/assets/img/banner/doorstep services.png")
    no-repeat;
  color: #fff;
  overflow: hidden;
  background-size: cover;
  background-position: right;
  padding: 40px;
  height: 319px;
  margin-left: 20px;
  position: relative;
  &__title {
    @extend %hero-title-styles;
    color: #3a404f;
  }

  &__sub-title {
    display: flex;
    margin-top: 8px;

    img {
      fill: #cd6a03;
      margin-right: 5px;
    }

    font-family: LatoBold;
    font-size: 16px;
    color: #cd6a03;
  }

  &__cta-wrapper {
    display: flex;
    align-items: center;
    width: 86%;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
  }

  &__button {
    @include button-style(#ff8400, #ffa748);
  }
  .door-step-menu {
    &.MuiSelect-select:focus {
      background-color: inherit;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero-section-right {
    margin-left: 10px;
    margin-right: 0;
    padding: 10px 0;
    height: 150px;
    &__title {
      font-size: 14px;
      padding: 0 20px;
      width: 100%;
      line-height: 16px;
    }
    &__cta-wrapper {
      flex-direction: column;
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      bottom: 10px;
    }
    &__sub-title {
      padding: 0 20px;
      font-size: 11px;
    }
    &__button {
      margin-top: 10px;
      font-size: 12px;
    }
  }
  .door-step-menu {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .hero-section-right {
    background-position: inherit;
    &__title {
      font-size: 12px;
    }
  }
}
