@import "../styles/mixins.scss";

.hero-section-left {
  height: 319px;
  border-radius: 8px;
  background: url("../../../images/assets/img/banner/find a mechanic.png")
    no-repeat;
  color: #fff;
  box-sizing: border-box;
  margin-left: 50px;
  margin-bottom: 20px;
  background-size: cover;

  &__content {
    padding-top: 10px;
  }

  &__title {
    @extend %hero-title-styles;
  }

  &__sub-title {
    font-family: LatoBold;
    font-size: 16px;
    height: 19px;
    padding-left: 40px;
  }

  &__button {
    @include button-style(#ff8400, #ffa748);
    margin-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .hero-section-left {
    margin-left: 0;
    height: 200px;
    &__title {
      font-size: 18px;
    }
  }
}
