@import "../styles/mixins.scss";

.hero-section-left {
  border-radius: 8px;
  background: url("../../../images/assets/img/banner/find a mechanic.png")
    no-repeat;
  color: #fff;
  box-sizing: border-box;
  background-size: cover;
  position: relative;
  padding: 40px;
  height: 319px;
  &__title {
    @extend %hero-title-styles;
  }

  &__sub-title {
    font-family: LatoBold;
    font-size: 16px;
  }

  &__button {
    @include button-style(#ff8400, #ffa748);
    position: absolute;
    bottom: 40px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  .hero-section-left {
    margin-left: 0;
    height: 150px;
    padding: 10px 0;
    &__title {
      font-size: 14px;
    }
    &__title {
      padding: 0 20px;
      width: 100%;
      line-height: 16px;
    }
    &__sub-title {
      padding: 0 20px;
      font-size: 12px;
    }
    &__button {
      margin: 0 0 0 20px;
      font-size: 12px;
      bottom: 10px;
    }
  }
}

@media screen and (max-width: 450px) {
  .hero-section-left {
    &__title {
      font-size: 12px;
    }
  }
}
