.hero-section {
  &-wrapper {
    justify-items: center;
    margin-top: 20px;
  }

  &-right {
    justify-self: flex-start;
  }
}
.hero-section-container {
  margin-top: 25px;
}
@media screen and (max-width: 768px) {
  .hero-section-container {
    margin-top: 35px;
  }
}
