@import "../styles/mixins.scss";
.testimonial-container {
  background: url("../../../images/assets/img/testimonial/bg.png") no-repeat;
  width: 100%;
  margin: 60px 0 20px;
}
.testimonial-container-mobile {
  background: url("../../../images/assets/img/testimonial/mobile-bg.png")
    no-repeat;
  width: 100%;
  margin: 30px 0 20px;
  padding-top: 30px;
}
.title {
  @extend %title;
}

.testimonial-card {
  background: #fff;
  -webkit-box-shadow: 4px 7px 14px -1px #555555;
  box-shadow: 4px 7px 14px -1px #555555;
  padding: 15px 15px 20px 15px;
  margin-bottom: 20px;
  width: 94%;
  color: #7a7c80;
  font-family: LatoRegular;
  min-height: 400px;
  p {
    font-family: LatoRegular;
    font-size: 16px;
    line-height: 24px;
  }
  .MuiCardHeader-title {
    font-family: PoppinsSemiBold;
    font-size: 16px;
  }
  .MuiCardHeader-subheader {
    font-family: LatoRegular;
    font-size: 16px;
  }
}

.MuiCard-root.same-height {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .testimonial-container {
    padding-top: 0;
    margin-top: 30px;
  }
}

.testimonial-container-mobile {
  .carousel-container {
    margin-top: 20px;
  }
  .MuiCard-root.same-height {
    height: 500px;
  }
}
